<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PostSharp" version="6.6.7" targetFramework="net472" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common" version="6.6.7" targetFramework="net472" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.6.7" targetFramework="net472" />
  <package id="PostSharp.Redist" version="6.6.7" targetFramework="net472" />
</packages>