<?xml version="1.0"?>
<GeneratorParams xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TargetFramework>Net45</TargetFramework>
  <NameSpace>ThreatsManager.Mitre.Attack</NameSpace>
  <Language>CSharp</Language>
  <CommandLine>xsd2code.exe &lt;XSD File&gt; ThreatsManager.Mitre.Attack &lt;Output file&gt; /p Net45 /classinfiles /rt /rtrange /rtregex /rtstlength /valprop /ap /clean /s /xml /sc /Indent2Space </CommandLine>
  <CollectionObjectType>List</CollectionObjectType>
  <Properties>
    <AutomaticProperties>true</AutomaticProperties>
  </Properties>
  <XmlAttribute>
    <Enabled>true</Enabled>
    <AttributesToExclude />
  </XmlAttribute>
  <WCFAttribute />
  <DataAnnotationsAttribute>
    <StringLengthAttribute>true</StringLengthAttribute>
    <RegularExpressionAttribute>true</RegularExpressionAttribute>
    <RangeAttribute>true</RangeAttribute>
    <ValidatePropertyInSetter>true</ValidatePropertyInSetter>
    <Enabled>true</Enabled>
  </DataAnnotationsAttribute>
  <ClassParams>
    <ClassNamePrefix />
    <GenerateInSeparateFiles>true</GenerateInSeparateFiles>
  </ClassParams>
  <GenericBaseClass />
  <Serialization>
    <Enabled>true</Enabled>
  </Serialization>
  <TrackingChanges />
  <Miscellaneous>
    <EnableSummaryComment>true</EnableSummaryComment>
    <CleanupCode>true</CleanupCode>
  </Miscellaneous>
  <CustomUsings />
</GeneratorParams>
