<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ExCSS" publicKeyToken="bdbe16be9b936b9a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Patterns.Model" publicKeyToken="e7f631e6ce13f078" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.1.6.0" newVersion="2024.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Patterns.Aggregation" publicKeyToken="e7f631e6ce13f078" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.1.6.0" newVersion="2024.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.1.6.0" newVersion="2024.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Patterns.Common" publicKeyToken="e7f631e6ce13f078" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.1.6.0" newVersion="2024.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>