<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExCSS" version="4.2.4" targetFramework="net481" />
  <package id="Fizzler" version="1.3.0" targetFramework="net472" />
  <package id="PostSharp" version="2023.0.8" targetFramework="net481" />
  <package id="PostSharp.Patterns.Aggregation" version="2023.0.8" targetFramework="net481" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="2023.0.8" targetFramework="net481" />
  <package id="PostSharp.Patterns.Common" version="2023.0.8" targetFramework="net481" />
  <package id="PostSharp.Patterns.Common.Redist" version="2023.0.8" targetFramework="net481" />
  <package id="PostSharp.Patterns.Model" version="2023.0.8" targetFramework="net481" />
  <package id="PostSharp.Patterns.Model.Redist" version="2023.0.8" targetFramework="net481" />
  <package id="PostSharp.Patterns.Threading" version="2023.0.8" targetFramework="net481" />
  <package id="PostSharp.Patterns.Threading.Redist" version="2023.0.8" targetFramework="net481" />
  <package id="PostSharp.Redist" version="2023.0.8" targetFramework="net481" />
  <package id="Svg" version="3.4.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="7.0.1" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net481" />
</packages>