<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PostSharp" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Model.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Patterns.Threading.Redist" version="6.10.5" targetFramework="net472" />
  <package id="PostSharp.Redist" version="6.10.5" targetFramework="net472" />
</packages>