<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="PostSharp" version="2024.1.6" targetFramework="net481" />
  <package id="PostSharp.Patterns.Aggregation" version="2024.1.6" targetFramework="net481" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="2024.1.6" targetFramework="net481" />
  <package id="PostSharp.Patterns.Common" version="2024.1.6" targetFramework="net481" />
  <package id="PostSharp.Patterns.Common.Redist" version="2024.1.6" targetFramework="net481" />
  <package id="PostSharp.Patterns.Model" version="2024.1.6" targetFramework="net481" />
  <package id="PostSharp.Patterns.Model.Redist" version="2024.1.6" targetFramework="net481" />
  <package id="PostSharp.Patterns.Threading.Redist" version="2024.1.6" targetFramework="net481" />
  <package id="PostSharp.Redist" version="2024.1.6" targetFramework="net481" />
  <package id="System.ComponentModel.Composition" version="8.0.0" targetFramework="net481" />
  <package id="System.Drawing.Common" version="8.0.10" targetFramework="net481" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
</packages>