<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="PostSharp" version="2023.0.7" targetFramework="net481" />
  <package id="PostSharp.Patterns.Aggregation" version="2023.0.7" targetFramework="net481" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="2023.0.7" targetFramework="net481" />
  <package id="PostSharp.Patterns.Common" version="2023.0.7" targetFramework="net481" />
  <package id="PostSharp.Patterns.Common.Redist" version="2023.0.7" targetFramework="net481" />
  <package id="PostSharp.Patterns.Model.Redist" version="2023.0.7" targetFramework="net481" />
  <package id="PostSharp.Patterns.Threading" version="2023.0.7" targetFramework="net481" />
  <package id="PostSharp.Patterns.Threading.Redist" version="2023.0.7" targetFramework="net481" />
  <package id="PostSharp.Redist" version="2023.0.7" targetFramework="net481" />
</packages>